@import "../NullStyle";

.messages {
  display: grid;
  grid-template-columns: 2fr 10fr;

  &_item {

    .item {
      &.active {
        color: blue;
      }
    }
  }

  &_window {
    &_message {
      padding: 10px;
    }
  }
}



