@import '../NullStyle';

.nav {
  grid-area: n;
  background-color: aqua;
  padding: 20px;
  &_item {
    padding: 3px;
    a {
      &.active {
      color: #1b669f;
      }
      &:active {
      color: #1b669f;
    }
      color: #ffffff;
    }
  }
}
